.about-container {
    padding-inline: 5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .about-container {
        padding-inline: 0;
    }
  }

.about-banner {
    position: relative;
    max-width: 100%;
    border-radius: 25px;
    height: 223px;
    background-image: url('../../assets/mountain-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.flat-description {
    margin: 0%!important;
}