.grid_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: 4rem;
    margin-top: 2rem;
    background-color: #F7F7F7;
    border-radius: 25px;
    max-width: 100%;
    min-height: 50vh;
}

@media screen and (max-width: 992px) {
    .grid_container {
        background-color: white;
        padding: 0;
        flex-direction: column;
    }
}