.grid_container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: #F7F7F7;
    border-radius: 25px;
    max-width: 100%;
    min-height: 50vh;
};

@media screen and (max-width: 768px) {
    .grid_container {
        justify-content: center;
        background-color: none;
        padding: 0;
    }
  };